<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../../styles/menu.css">
<title>The Insultinatr!</title>
</head>
<body>
    <%= form_for(@user)  do |form| %>
        <div class="container">
            <%= render 'shared/error_messages' %>
            <h1>Sign up</h1>
            <p>Please fill in this form to create an account</p>
            <hr>
            <%= form.label :email %>
            <%= form.email_field :email, placeholder: "Email" , required: true%>
        </div>
        <div class="container">
            <%= form.label :password %>
            <%= form.password_field :password, placeholder: "Password" %>
            <%= form.label :confirm_password%>
            <%= form.password_field :password_confirmation, placeholder: "Confirm Password" %>
        </div>
        <div>
            <button type="submit" class="signupbtn">Sign Up</button>
            <button type="submit" class="cancelbtn">Cancel</button>
        </div>
    <% end %>
<a href="/login">Login</a>
</body>
</html>