<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../../styles/menu.css">
<title>The Insultinatr!</title>
</head>
<body>
<div class="header">
<h1>
You made it to your user page, dummie!
</h1>
</div>
<div class="topnav">
<a href="/insults">My Insults!</a>
<a href="/logout">Logout</a>
</div>


<ul>
<h2>Insults:</h2>
    <% @insults.each do |insult| %>
        <% if insult.user_id == @user_id %>
            <p><%= insult.insult %>
        <% end %>
    <% end %>

<h2>Fake Names:</h2>
    <% @names.each do |name| %>
        <% if name.user_id == @user_id %>
            <p><%= name.name %>
        <% end %>
    <% end %>
</ul> 

    <h1>Welcome!</h1>

<%= link_to "My Insults!", insult_path %>
<%= link_to "My Fake Names!", name_path %>
<%= link_to "Log out", logout_path %>

</body>
</html>